.hero-container {
    background-image: url(../pictures/tatry16m.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
    
   
}

.hero-header { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
        
    width: 100%;
    max-width: 1280x; 
    height: 100%;     
}


.hero-title {
    color: #ffffff;
    font-size: 6rem;
    background: blue;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    

    &:hover {
        background: lightBlue;
        color: blue;
    }      
}

@media (max-width: 45em) {
    .hero-title {
      font-size: 4rem;
    }
  }
  @media (max-width: 40em) {
    .hero-title {
        font-size: 3rem;
    }
  }
  

