.nav__menu {
  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      width: 12.5%;
    }
    li > ul {
      display: none;
      flex-direction: column;
    }
    li > ul li {
      width: 100%;
    }
    li:hover > ul {
      display: flex;
    }
  }
  a {  
    display: block;
    background: blue;
    padding: .75em;
    color: white;
    text-decoration: none;
    text-align: center;
    
  }
  a:hover {
    background: lightBlue;
    color: blue;
  }
  .nav__sub-menu li > a {
    background: lightBlue;
    color: blue;
  }
  .nav__sub-menu > a:after {
    content: "+";
    padding-left: 5px;
  }
}



.nav__menu a:active {
   background: white; 
  color: black;
}

.active-nav-item {
  color: #333333;
}

@media (max-width: 45em) {
  .nav__menu ul li {
    width: 25%;
  }
}
@media (max-width: 40em) {
    .nav__menu ul li {
    width: 100%;
  }
}
