.container {
    display: flex;
    align-items: center;
    justify-content: center;   
}

.header {    
    width: 100%;
    max-width: 1500px; 
    height: 100%;     
}

.image {
    background-image: url(../pictures/paris12.jpg);     
    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;

    background-position: center center;
    background-attachment: fixed;   
    }

.title {
    color: #333333;
    font-size: 7rem;
    
    text-decoration: none;
    position: absolute;
    top:40%;
    left: 40%;
       
}
.title:hover {
    color: #500c0c;
    
   
}

.nav-item {
    color: #999999;
    font-size: 1rem;
    margin-right: 1rem;
    text-decoration: none;
    padding: 5px;
}

.nav-item:hover {
    color: #666666;
}

.active-nav-item {
    color: #333333;
}

@media all and (max-width: 750px) {  
    
    .nav-list {  
        flex-wrap: wrap;   
    }  
    }
    @media all and (max-width: 600px) {  
       
        .nav-list > li {
        flex-basis: 25%;
        }   
  }
  @media all and (max-width: 400px) {  
       
    .nav-list > li {
    flex-basis: 100%;
    }   
}

 



