.container {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.header {    
    width: 100%;
    max-width: 1500px; 
    height: 100%;     
}

.image {
    background-image: url(../pictures/paris12.jpg);     
    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;

    background-position: center center;
    background-attachment: fixed;   
    }

.title {
    color: #500c0c;
    font-size: 5rem;
    text-decoration: none;
    position: absolute;
    top:40%;
    left: 40%;
    opacity: .6;    
}
.title:hover {
    color: #333333;
    opacity: 1;
    text-decoration: underline;
}



